body{background-color: white;
    width: 1280px;
}

h1{
	text-align: center;
	font-weight: normal;
	
}
h2 {
    text-align: center;
    font-weight: lighter;
}
h3{
	text-align: left;
	font-size: 25px;
}
h4{text-align: center;
	font-size: 25px;
}
span{
	color: blue;
	}
p {
    text-align: justify;
    font-size: 10px;
    width: 1280px;
}
div{
	background-color: seagreen;
	width: 1180px;
	padding: 50px;
	font-size: 50px;
	}
img{
	width: 1280px;

}