@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');


body{
	font-family: 'Roboto', sans-serif;}

h1{ font-size: 36px;
font-weight: 900;}
p{font-size: 20px}


.top-header{
	background-color: #f0f2f4;
	padding: 13px 0;
}
.top-header ul{align-items: center;}

.top-header ul li{color: #424242;
margin-left: 20px;
font-size: 15px;
font-weight: 600;
}

.top-header ul li a{
	background-color: #1287bf;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}


/**************************main header section**********************************/

header{

}
header nav{}

header .navbar-nav{ margin-left: auto; }
header nav a{}
.navbar-toggler span {
    display: block;
    background: #15a4fa;
    height: 4px;
    width: 40px;
    margin: 5px;}


.navbar-light .navbar-nav .nav-link {
    text-transform: capitalize;

    color: #424242;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    }


.navbar-light .navbar-nav .nav-link::after{
	content:'';
	background-color: #424242;
	width: 10px;
	display: block;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	bottom: 16px;
	left: -14px;
}

.navbar-light .navbar-nav .nav-item:first-child .nav-link::after{background-color: transparent;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link::after{background-color: transparent;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link{background-color: #de2b24;color: #fff;border-radius: 5px;padding: 10px 30px;font-size: 15px;font-weight: 600;}
/* start media screen */
@media only screen and (max-width:768px){
	.navbar-light .navbar-nav .nav-link {
    position: relative;
    padding: 10px 10px;
    margin: 5px;
    }
	.navbar-light .navbar-nav .nav-item:last-child .nav-link{
	display: inline-block
		;}
.navbar-light .navbar-nav .nav-item:first-child .nav-link::after{background-color: #424242;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link::after{background-color:transparent;}
	header .navbar-nav{ margin: auto; }
}
/* end media screen */

/*  start banner-section*/
.banner-section{position: relative;}
.banner-content{position: absolute;top: 50%;left: 50%;color: #fff;transform: translate(-50%,-50%);}
.banner-section h1{font-size: 48px;font-weight: 600;}
.banner-section p{font-size: 30px;}
.banner-section a{background-color: #f8cd53;color: #fff;border-radius: 5px;padding: 10px 30px;font-size: 15px;font-weight: 600;text-transform: uppercase;}

/*  end banner-section*/

/*  start our-work  section*/
.about-section{
	padding: 100px 0;
	position: relative;
}
.about-section h2{font-size: 36px;font-weight: 600;}
.about-section p{font-size:13px;}
.about-section span{display: block;width: 50px;height: 5px;background-color: black;position: absolute;bottom: 0;left: 250px;}
.about-section h3{font-size: 22px;font-weight: 600;}
.about-section h4{font-size: 20px;font-weight: 600;}
.about-section .about-img {padding: 40px 0;}

/**** approach section**********/
.approach-section {background-color: #f3f3f3;padding-top: 85px;padding-bottom: 130px;}
.approach-section h2{font-size: 36px;font-weight: 600;}
.approach-section h4{font-size: 20px;font-weight: 600;}
.approach-section h5{font-size: 18px;font-weight: 600;}
.approach-heading span{display: block;width: 50px;height: 5px;background-color: black;position: absolute;bottom: 0;left: 250px;}
.approach-section p{font-size:13px;}
.approach-section .approach1{position: relative;}
.approach-section .approach2{position: relative;}
.approach-section .approach3{position: relative;}
.approach-section .approach4{position: relative;}
.approach1 h1{position: absolute;
top: 32%;
right: -9%;
color: #fff;
background-color: #de2b24;
width: 100px;
height: 60px;
border: 1px solid #fff;
font-size: 40px;
transform: translate(-50%,-60%);
}
.approach2 h1{position: absolute;
bottom: 85px;
right: 280px;
color: #fff;
background-color: #de2b24;
width: 100px;
height: 60px;
border: 1px solid #fff;
font-size: 40px;
}
.approach3 h1{position: absolute;
bottom: 85px;
left: 280px;
color: #fff;
background-color: #de2b24;
width: 100px;
height: 60px;
border: 1px solid #fff;
font-size: 40px;
}
.approach4 h1{position: absolute;
bottom: 85px;
right:  280px;
color: #fff;
background-color: #de2b24;
width: 100px;
height: 60px;
border: 1px solid #fff;
font-size: 40px;
}

/**** approach section**********/

@media only screen and (max-width:768px){
.about-section span{position: absolute;bottom:0%;left: 50%; transform: translate(-50%, -50%);}
.approach-heading span{position: absolute;bottom:0%;left: 50%; transform: translate(-50%, -50%);}
.approach1 h1{position: absolute;top: 35%;left: 50%;transform: translate(-50%, -50%);}
.approach2 h1{position: absolute;top: 67%;left: 50%;transform: translate(-50%, -50%);}
.approach3 h1{position: absolute;top: 35%;left: 50%;transform: translate(-50%, -50%);}
.approach4 h1{position: absolute;top: 67%;left: 50%;transform: translate(-50%, -50%);}
.works-heading span{position: absolute;bottom:0%;left: 50%; transform: translate(-50%,-50%);}
.nav-link{justify-content: center;}
}





/*  start our-work  section*/
.our-work-section{
	padding: 115px 0;background-color: #de2b24;}
.our-work-section h2{font-size: 36px;font-weight: 600;color: #fff;}
.our-work-section h4{font-size: 20px;font-weight: 600;}
.works-heading span{display: block;width: 50px;height: 5px;background-color: black;position: absolute;bottom: 7%;left: 50%;transform: translate(-50%,-50%);}
.works-heading{padding-bottom: 50px;}
.works-heading p{color: #fff;}
.project-details{background-color: #f35e59;padding: 41px;}
.project-details a{display: block;font-size: 36px;color: #f9afac;}
.project-details h5{font-size: 26px;color: #f9afac;}
.project-details p{font-size: 16px;color: #f9afac;}







/*  end our work  section*/


/*  end analysis section*/
.analysis-section{padding-top: 100px ; padding-bottom: 115px; background-color: #007bff;}
.analysis-section h2{color: #fff;}
.analysis-section p{color: #2d2929;font-size: 14px;}
.analysis-section a{color: #fff;font-size: 30px;}
.analysis-section form{background-color: #fff;padding: 50px; position: relative;}
.analysis-section form a{
	position: absolute;
	top: -22px;
	right: -14px;

	color: red;
	background-color: white;
	border-radius: 50px;
	display: block;
	padding: 5px 13px;
	border: 1px solid #f90a0a;
}
/*  end analysis section*/
/*  start footer section*/

.footer-section{
	background-color: #2a2a2a;
	padding: 85px 0;
}
.footer-section ul{}
.footer-section li{}
.footer-section a{display: block;color: #fff;border: 2px solid #515151;padding: 10px 20px;margin: 10px;font-size: 20px;border-radius: 5px;}
.footer-section h1{color: #fff;font-weight: 700;font-size: 30px;padding-bottom: 30px;}
.footer-section p{color: #fff;padding: 20px 0;}
.footer-section form-group{}
.footer-section form-control{}
.footer-section input{background-color: #515151;border-color: #515151;color: #fff;padding: 25px;text-transform: capitalize;}
.footer-section button{border: 1px solid #515151;background-color: #2a2a2a;padding: 10px 20px;font-size: 18px;margin: 30px;}

.footer-section a:hover{ border: 2px solid red;color: #fff; }


/*  end footer section*/


/* footer menu*/

.footer-menu{
background-color: #515151;
padding: 22px 0;
}
.footer-menu ul{}
.footer-menu li{color: #fff;}

